$color-highlight: #428be3;
$color-background-day: rgba(black, .1);
$color-other-month: rgba(black, .4);
$color-disabled: rgba(black, .4);

.date-time-range-picker {
  position: relative;
  display: flex;

  button {
    display: block;
    background-color: transparent;
    border: 0;
    outline: none;
    font-size: 1em;
    padding: 0;
    margin: 0;
  }

  .date-time-range-picker-times {
    display: flex;

    > div + div {
      margin-left: 1em;
    }
  }

  .date-time-range-picker-dates + .date-time-range-picker-times {
    flex-direction: column;
    padding: 2.9em 0 0 1em;

    > div + div {
      margin-left: 0;
      margin-top: 1em;
    }
  }
}
