$color-highlight: #428be3;
$color-background-day: rgba(black, .1);
$color-other-month: rgba(black, .4);
$color-disabled: rgba(black, .4);

.date-time-range-picker .date-time-range-picker-dates{
  position: relative;

  .date-time-range-picker-header {
    display: flex;
    justify-content: space-between;

    .date-time-range-picker-header-month {
      width: 19.3em;
      line-height: 2em;
      margin: .3em 0;
      text-align: center;

      + {
        .date-time-range-picker-header-month {
          margin-left: 1em;
        }
      }
    }

    .date-time-range-picker-header-prev,
    .date-time-range-picker-header-next {
      position: absolute;
      margin: .3em;
      border-radius: 2em;
      height: 2em;
      width: 2em;
      cursor: pointer;

      &:hover {
        background-color: $color-highlight;
        color: white;
      }
    }

    .date-time-range-picker-header-prev {
      left: 0;
    }

    .date-time-range-picker-header-next {
      right: 0;
    }
  }

  .date-time-range-picker-months {
    display: flex;
    justify-content: space-between;

    .date-time-range-picker-month {
      width: 18.9em;
      min-height: 18em;

      .date-time-range-picker-month-daynames {
        display: flex;

        > div {
          width: 2.5em;
          margin: .3em;
          text-align: center;
        }
      }

      .date-time-range-picker-month-days {
        display: flex;
        flex-wrap: wrap;

        > button {
          width: 2.1em;
          height: 2.1em;
          background-color: $color-background-day;
          border-radius: 1.5em;
          margin: .3em;
          cursor: pointer;
          box-sizing: content-box;

          &:hover:not(.disabled),
          &.hover:not(.disabled) {
            background-color: rgba($color-highlight, .8);
            color: white;
          }

          &.other-month {
            color: $color-other-month;
          }

          &.active {
            background-color: $color-highlight;
            color: white;
          }

          &.already-selected {
            background-color: yellow;
            margin: .3em 0;
            padding: 0 .3em;
            border-radius: 0;
          }

          &.in-range {
            background-color: rgba($color-highlight, .5);
            margin: .3em 0;
            padding: 0 .3em;
            border-radius: 0;

            &.active-from-date:not(.active-from-date-reverse) {
              border-top-left-radius: 1.5em;
              border-bottom-left-radius: 1.5em;
              margin-left: .3em;
              padding-left: 0;
            }

            &.active-until-date {
              border-top-right-radius: 1.5em;
              border-bottom-right-radius: 1.5em;
              margin-right: .3em;
              padding-right: 0;
            }

            &.active {
              background-color: $color-highlight;
            }
          }

          &.hover-range:not(.in-range) {
            background-color: rgba($color-highlight, .5);
            margin: .3em 0;
            padding: 0 .3em;
            border-radius: 0;

            &.active-from-date:not(.active-from-date-reverse) {
              border-top-left-radius: 1.5em;
              border-bottom-left-radius: 1.5em;
              margin-left: .3em;
              padding-left: 0;

              &.hover {
                border-radius: 1.5em;
                padding-right: 0;
                margin-right: .3em;
              }
            }

            &.active-from-date-reverse {
              border-top-right-radius: 1.5em;
              border-bottom-right-radius: 1.5em;
              margin-right: .3em;
              padding-right: 0;
            }

            &.hover-past {
              border-top-left-radius: 1.5em;
              border-bottom-left-radius: 1.5em;
              padding-left: 0;
              margin-left: .3em;
            }

            &.hover-future {
              border-top-right-radius: 1.5em;
              border-bottom-right-radius: 1.5em;
              padding-right: 0;
              margin-right: .3em;
            }

            &.active {
              background-color: $color-highlight;
            }
          }

          &.disabled {
            color: $color-disabled;
            cursor: default;
          }
        }
      }

      .dummy-day {
        width: 2.1em;
        height: 2.1em;
        display: block;
        margin: .3em;
      }

      + .date-time-range-picker-month {
        margin-left: 1em;
      }
    }
  }

}
