$color-highlight: #428be3;
$color-background-day: rgba(black, .1);
$color-other-month: rgba(black, .4);
$color-disabled: rgba(16, 16, 16, 0.3);
$color-disabled-background: #e6e6e6;

.date-time-range-picker .date-time-range-picker-dates{
  position: relative;

  .date-time-range-picker-header {
    display: flex;
    justify-content: center;

    .date-time-range-picker-header-month {
      line-height: 2em;
      margin: .3em 0;
      text-align: center;
      padding: 0 .5em;
      + {
        .date-time-range-picker-header-month {
          margin-left: 1em;
        }
      }
    }
    .date-time-range-picker-header-month:hover{
      background-color: $color-highlight;
      color: white;
      cursor: pointer;
    }
    .date-time-range-picker-header-month.year{
      background-color: $color-disabled-background;
      color: $color-disabled;
      pointer: none;
    }

    .date-time-range-picker-header-prev,
    .date-time-range-picker-header-next,
    .date-time-range-picker-header-prev-year,
    .date-time-range-picker-header-next-year{
      position: absolute;
      margin: .3em;
      border-radius: 2em;
      height: 2em;
      width: 2em;
      cursor: pointer;

      &:hover {
        background-color: $color-highlight;
        color: white;
      }
    }

    .date-time-range-picker-header-prev {
      left: 0;
    }

    .date-time-range-picker-header-next {
      right: 0;
    }
    .date-time-range-picker-header-prev-year {
      left: 45px;
      font-size: 12px;
      margin-top: 10px;
    }

    .date-time-range-picker-header-next-year {
      right: 45px;
      font-size: 12px;
      margin-top: 10px;
    }
  }

  .date-time-range-picker-year-mode {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    button.monthButton{
      background-color: white;
      flex: 0 0 33.3333%;
      overflow: hidden;
    }
    button.monthButton:hover{
      cursor: pointer;
      background-color: $color-disabled-background;
    }
  }

  .date-time-range-picker-months {
    display: flex;
    justify-content: space-between;

    .date-time-range-picker-month {
      width: 18.9em;
      min-height: 18em;

      .date-time-range-picker-month-daynames {
        display: flex;

        > div {
          width: 2.5em;
          margin: .3em;
          text-align: center;
        }
      }

      .date-time-range-picker-month-days {
        display: flex;
        flex-wrap: wrap;

        > button {
          width: 2.1em;
          height: 2.1em;
          background-color: $color-background-day;
          border-radius: 1.5em;
          margin: .3em;
          cursor: pointer;
          box-sizing: content-box;

          &:hover:not(.disabled),
          &.hover:not(.disabled) {
            background-color: rgba($color-highlight, .8);
            color: white;
          }

          &.other-month {
            color: $color-other-month;
          }

          &.active {
            background-color: $color-highlight;
            color: white;
          }

          &.selected {
            background: rgba(233,164,38,0.8);
            color: #fff;
          }

          &.selected-active-from-date {
            border-radius: 0;
            border-top-left-radius: 1.5em;
            border-bottom-left-radius: 1.5em;
            margin-left: 0.3em;
            padding-left: 0;
            margin: 0.3em 0;
            padding: 0 0.3em;
          }

          &.selected-active-until-date {
            border-radius: 0;
            border-top-right-radius: 1.5em;
            border-bottom-right-radius: 1.5em;
            margin-right: 0.3em;
            padding-right: 0;
            margin: 0.3em 0;
            padding: 0 0.3em;
          }

          &.selected-active-in-range{
            background: rgba(233,164,38,0.5);
            margin: 0.3em 0;
            padding: 0 0.3em;
            border-radius: 0;
          }

          &.selected:hover {
            background: rgba(233,164,38,0.5);
          }

          &.in-range {
            background-color: rgba($color-highlight, .5);
            margin: .3em 0;
            padding: 0 .3em;
            border-radius: 0;

            &.active-from-date:not(.active-from-date-reverse) {
              border-top-left-radius: 1.5em;
              border-bottom-left-radius: 1.5em;
              margin-left: .3em;
              padding-left: 0;
            }

            &.active-until-date {
              border-top-right-radius: 1.5em;
              border-bottom-right-radius: 1.5em;
              margin-right: .3em;
              padding-right: 0;
            }

            &.active {
              background-color: $color-highlight;
            }
          }

          &.hover-range:not(.in-range) {
            background-color: rgba($color-highlight, .5);
            margin: .3em 0;
            padding: 0 .3em;
            border-radius: 0;

            &.active-from-date:not(.active-from-date-reverse) {
              border-top-left-radius: 1.5em;
              border-bottom-left-radius: 1.5em;
              margin-left: .3em;
              padding-left: 0;

              &.hover {
                border-radius: 1.5em;
                padding-right: 0;
                margin-right: .3em;
              }
            }

            &.active-from-date-reverse {
              border-top-right-radius: 1.5em;
              border-bottom-right-radius: 1.5em;
              margin-right: .3em;
              padding-right: 0;
            }

            &.hover-past {
              border-top-left-radius: 1.5em;
              border-bottom-left-radius: 1.5em;
              padding-left: 0;
              margin-left: .3em;
            }

            &.hover-future {
              border-top-right-radius: 1.5em;
              border-bottom-right-radius: 1.5em;
              padding-right: 0;
              margin-right: .3em;
            }

            &.active {
              background-color: $color-highlight;
            }
          }

          &.disabled {
            color: $color-disabled;
            cursor: default;
          }
        }
      }

      .date-time-range-picker-month-days > button {
        &.selected-active-in-range:hover {
          background: rgba(233,164,38,0.5);
        }
      }


      .dummy-day {
        width: 2.1em;
        height: 2.1em;
        display: block;
        margin: .3em;
      }

      + .date-time-range-picker-month {
        margin-left: 1em;
      }
    }
  }

}
